{
  "disable_custom_urls": true,
  "disable_guests": true,
  "disable_3pid_login": true,
  "default_federate": false,
  "show_labs_settings": false,
  "integrations_ui_url": null,
  "integrations_rest_url": null,
  "integrations_widgets_urls": null,
  "element_call": {
    "disable": true
  },
  "setting_defaults": {
    "UIFeature.registration": false,
    "UIFeature.passwordReset": false,
    "UIFeature.deactivate": false,
    "UIFeature.identityServer": false,
    "UIFeature.thirdPartyId": false,
    "UIFeature.feedback": false
  }
}
